<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UserLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041FF5421FC1B8C100C99E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041FF5561FC1B8C100C99E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041FF5611FC1B8C100C99E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
